.progress-ring{
    height: 120px;
    width: 120px;
    .progress-ring-circle{
        transition: stroke-dashoffset ease .5s;
        transform: rotate(-90deg);
        transform-origin: 50% 50%; 
        border-radius: 3px;
    }
}

.progress-bar{
    display: inline-block;
    width: 100%;
    height: 4px;
    vertical-align: middle;
    margin-left: 10px;
    &::-webkit-meter-optimum-value{
        background: $gun-metal;
        border-radius: 3px;
    }
    &::-webkit-meter-bar{
        background: $pale-blue;
        border-radius: 3px;
    }
    &.years15{
        &::-webkit-meter-optimum-value{
            background: $bg-green;
        }
    }
    &.years20{
        &::-webkit-meter-optimum-value{
            background: $bg-blue;
        }
    }
    &.years30{
        &::-webkit-meter-optimum-value{
            background: $bg-darkblue;
        }
    }
    &.years10{
        &::-webkit-meter-optimum-value{
            background: $bg-purple;
            border-radius: 3px;
        }
    }
    &.years7{
        &::-webkit-meter-optimum-value{
            background: $bg-violet;
            border-radius: 3px;
        }
    }
    &.years5{
        &::-webkit-meter-optimum-value{
            background: $bg-red;
            border-radius: 3px;
        }
    }

}