 @font-face{
     font-family: 'OpenSans-Bold';
     src: url('./fonts/OpenSans/OpenSans-Bold.eot');
     src: url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
          url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
          url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
          url('../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),

 }

 @font-face{
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),

}

@font-face{
    font-family: 'OpenSans-SemiBold';
    src: url('./fonts/OpenSans/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-Bold') format('svg'),

}

@font-face{
    font-family: 'OpenSans-Light';
    src: url('./fonts/OpenSans/OpenSans-light.eot');
    src: url('../fonts/OpenSans/OpenSans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-light.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-light.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-light.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-light.svg#OpenSans-Bold') format('svg'),

}