 header {
     padding: 12px 30px;
     border-bottom: 1px solid $pale-blue;
     background: #fff;
     position: fixed;
     width: 100%;
     z-index: 10;

     .brand-logo {
         display: inline-block;
         vertical-align: middle;
     }

     &>nav {
         float: right;
         padding: 10px 0;
         line-height: 20px;
         color: $primary-text-color;

         a {
             display: inline-block;
             font-size: 15px;

             &:hover {
                 color: $dark-text;
             }

             &+a {
                 margin-left: 40px;
             }
         }

         .active-nav {
             color: $dark-text;
         }
     }

 }

 .user-profile {
     margin-left: 75px;
     float: right;
     font-size: 0;

     a {
         display: inline-block;
         vertical-align: middle;
         color: $dark-text;

         &>img {
             border-radius: 50%;
             margin-right: 10px;
         }
     }
 }

 .user-dropdown {
     display: inline-block;
     line-height: 20px;
     position: relative;

     .drop-toggle {
         cursor: pointer;
         font-size: 15px;

         &::after {
             content: '';
             display: inline-block;
             margin-left: 10px;
             border-style: solid;
             border-width: 7px 7px 0 7px;
             border-color: #637381 transparent transparent transparent;
             transition: border ease-in-out .3s;
         }
     }

     .user-list {
         right: 0;
         line-height: 25px;
         position: absolute;
         height: 0;
         background: $pale-grey2;
         overflow: hidden;
         border-radius: 3px;
         transition: height ease-in-out .4s;
         text-align: center;

         li {
             padding: 10px 30px;
             font-size: 14px;

             a {
                 color: $primary-text-color;
             }

             &:hover {
                 background: rgba($battleship-grey, .3);

                 a {
                     color: $dark-text;
                 }
             }
         }
     }

     &.show-list {
         .drop-toggle {
             &::after {
                 border-width: 0 7px 7px 7px;
                 border-color: transparent transparent #637381 transparent;
             }
         }

         .user-list {
             height: 140px;
         }
     }
 }

 .slide-nav {
     position: relative;
     display: inline-block;
     margin-right: 40px;

     .close-nav {
         font-size: 30px;
         float: right;
         margin-right: 20px;
         line-height: 20px;
         color: $gun-metal;
     }

     .slide-nav-content {
         position: fixed;
         top: 0;
         left: -250px;
         width: 250px;
         height: 100%;
         background: $pale-grey2;
         overflow: auto;
         padding: 20px 0;
         transition: all ease-in-out 350ms;

         a {
             color: $primary-text-color;

             &:hover {
                 color: $gun-metal;
             }
         }

         nav {
             margin: 50px 30px;

             &>a {
                 display: block;
                 line-height: 28px;
                 margin-bottom: 20px;
             }
         }

         .nav-social {
             font-size: 0;
             width: 170px;
             margin: 0 auto;

             a {
                 display: inline-block;
                 margin-bottom: 0;
                 line-height: normal;

                 &+a {
                     margin-left: 40px;
                 }
             }
         }
     }

     &.show-nav {
         .slide-nav-content {
             left: 0;
         }
     }
 }

 .notifications {
     display: inline-block;
     margin-right: 20px;
     position: relative;

     .notifications-list {
         position: absolute;
         background: #f4f6f8;
         width: 200px;
         left: -87px;
         margin-top: 20px;
         border-radius: 5px;
         display: none;
         opacity: 0;
         transform-origin: top;
         animation: popup .5s ease-in-out;

         &::before {
             content: '';
             display: inline-block;
             border-style: solid;
             border-color: transparent transparent #f4f6f8 transparent;
             border-width: 0 12px 12px 12px;
             position: absolute;
             top: -12px;
             left: 85px;
         }

         li {
             padding: 10px 15px;
             
             a {
                 font-size: 14px;
                 vertical-align: baseline;
                 max-width: 120px;
                 text-overflow: ellipsis;
                 overflow: hidden;
                 white-space: nowrap;
             }

             span{
                 float:right;
                 content: '';
                 border: solid rgba($gun-metal, .3);
                 border-width: 0 2px 2px 0;
                 transform: rotate(43deg);
                 height: 10px;
                 width: 5px;
             }
         }
         .status-read{
             a{
                 color: rgba($battleship-grey, .3);
             }
             span{
                 border-color: $bright-cyan;
             }
         }
     }

     .show-notifications {
         display: block;
         opacity: 1;
     }
 }