.signup-upload {
    &.container{
        width: 630px;
    }
    h2 {
        width: 500px;
        text-align: center;
        margin: 0 auto 50px;
    }

    .tab-nav {
        background: white;
        text-align: center;
        margin-bottom: 30px;

        a {
            width: 50%;
            float: left;
            font-size: 13px;
            text-transform: uppercase;
            padding: 15px 0;
        }

        .tab-active {
            background: $battleship-grey;
            color: #fff;
        }
    }

    .btn-primary {
        float: right;
    }

    .btn-default {
        float: left;
    }
}

.tab {
    display: none;
    background: #fff;
    box-shadow: 0px 8px 6px 0px rgba($pale-blue, .2);
    border: 1px solid $pale-blue;
    border-radius: 3px;
    margin-bottom: 30px;

    h3 {
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid $pale-blue;
    }

    .tab-body {
        .col-2 {
            width: 370px;

            &+.col-2 {
                width: calc(100% - 370px);
            }
        }

        &>li {
            padding: 30px 20px;
        }
    }
}

.show-tab{
    display: block;
}

.file-upload {
    background: $pale-grey;
    border: 2px dashed $light-blue-grey;
    
    border-radius: 3px;
     input[type="file"] {
        display: none;
    }

    .icon-upload {
        margin: 30px auto 0;
    }
    label{
        display: inline-block;
        width: 100%;
        span{
            display: inline-block;
            padding: 20px 30px 0;
            text-align: center;
            line-height: 25px;
            font-size: 18px;
            color: $dark-text;
            i{
                text-decoration: underline;
                color: $bright-cyan;
                font-style: normal;
            }
        }
    }
    .note {
        margin: 40px 0 10px;
        width: 100%;
        color: $primary-text-color;
        font-size: 14px;
        display: inline-block;
        text-align: center;
    }
}

.file-upload-instruct {
    h4 {
        margin-top: 20px;
    }

    ul {
        margin-top: 20px;
        font-size: 18px;

        &>li {
            text-transform: capitalize;
            line-height: 28px;
            @include bullets;

            &>ul {
                margin: 0 0 0 40px;
                font-size: 16px;

                li {
                    line-height: 28px;
                }
            }
        }
    }

    a {
        display: inline-block;
        margin-top: 70px;
        font-size: 14px;
        color: $bright-cyan;
        text-decoration: underline;
    }
}

.files-list {
    margin-bottom: 30px;
    background: #fafafa;
    border: solid rgba(0, 0, 0, .12);
    border-width: 2px 0;
    padding: 20px;
    display: none;
    li {
        padding-bottom: 20px;

        &+li {
            padding-top: 20px;
            border-top: 2px solid $pale-blue;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    span {
        font-size: 11px;
        color: $gun-metal;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .file-name {
        width: 80px;
        margin-right: 80px;
    }

    .file-type {
        width: 30px;
        margin-right: 55px;
    }

    .file-size {
        width: 40px;
        margin-right: 45px;
        text-transform: capitalize;
    }

    .file-status {
        width: 80px;
        margin-right: 100px;
    }
    .remove-file{
        float: right;
    }
}