 $primary-text-color: #919eab;
 $dark-text: #212b36;
 $pale-grey: #f9fafb;
 $pale-grey2: #f4f6f8;
 $pale-blue: #dfe3e8;
 $light-text:#adadad;
 $bright-cyan: #4ad5f6;
 $gun-metal:#454f5b;
$light-blue-grey: #c4cdd5;
$bright-skyblue: #23c0f5;
$battleship-grey: #637381;
$bg-green: #00cfc0;
$bg-blue: #23c0f5;
$bg-darkblue: #007ace;
$bg-purple: #5c6ac4;
$bg-violet: #9c6ade;
$bg-red: #de6a93;
