 $primary-text-color: #919eab;
 $dark-text: #212b36;
 $pale-grey: #f9fafb;
 $pale-grey2: #f4f6f8;
 $pale-blue: #dfe3e8;
 $light-text:#adadad;
 $bright-cyan: #4ad5f6;
 $gun-metal:#454f5b;
$light-blue-grey: #c4cdd5;
$bright-skyblue: #23c0f5;
$battleship-grey: #637381;
$years15-color: #00cfc0;
$years20-color: #23c0f5;
$years30-color: #007ace;
$years10-color: #5c6ac4;
$years7-color: #9c6ade;
$years5-color: #de6a93;
